#gameContainer{
    text-align: center;
   color: rgb(255, 8, 173);
}
#gameBorder{
    border: 2px solid;
    border-color: rgb(69, 0, 111);
}
#resetBTN{
    border: 3px solid;
    border-radius: 25px;
    font-size: 22px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}
#scoreText{
    font-size: 50px;
    font-family: "permanet Marker",cursive;
}